.App {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  margin: 15px 0;
  font-size: 3.5rem;
  user-select: none;
}

@media (max-width: 800px) {
  .main-header {
    font-size: 2.5rem;
  }
}